body {
    margin: 0;
}

header {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #07153a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    height: 250px;
    width: 100%;
}

p {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.sec_datos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}



.mod_datos h2 {
    margin-top: 30px;
    font-size: 30px;
    color: #2d5067;
}

.mod_datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 3px black;
    font-size: 30px;
    background-color: #BEE9E8;
    height: 1300px;
    width: 18%;
}

.mod_datos input[type=text],
.mod_datos input[type=password],
.mod_datos input[type=email],
.mod_datos input[type=tel] {
    margin-top: 15px;
    font-size: 22px;
    height: 40px;
    width: 250px;
}

.mod_datos button {
    margin-top: 12px;
    color: white;
    text-align: center;
    font-size: 25px;
    height: 40px;
    width: 150px;
    background-color: #006d77;
}


.datos_anuncio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: solid black 2px;
    border-left: solid 3px black;
    height: 1300px;
    width: 82%;
    color: white;
}

#tabla_trabajos {
    width: 100%;
    height: 400px;
    z-index: 1;
    overflow: scroll;
}

#tabla_trabajos_solicitados {
    width: 100%;
    height: 400px;
    z-index: 1;
    overflow: scroll;
}

.datos_anuncio h2 {
    margin-top: 30px;
    font-size: 30px;
    color: white;
}

.fil_anun {
    font-size: 30px;
    background-color: #1B4965;
    height: 50%;
}

.fil_anun2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.fil_anun button {
    margin-top: 12px;
    color: white;
    text-align: center;
    font-size: 25px;
    height: 40px;
    width: 150px;
    background-color: #006d77;
}


.lista_trabajos {

    background-color: #62B6CB;
    height: 50%;
}

.lista_trabajos p {
    margin-top: 30px;
    font-size: 30px;
    color: white;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    margin: 5px;
    text-align: center;
}

.servicios {
    font-size: 1.5em;
}

input[type=text],
input[type=password] {
    margin-top: 15px;
    font-size: 22px;
    height: 38px;
    width: 280px;
}

button {
    margin-top: 12px;
    color: white;
    text-align: center;
    font-size: 25px;
    height: 40px;
    width: 110px;
    background-color: #006d77;
}

button:hover {
    background-color: #00444a;
    transition-duration: 0.3s;
}

.sec_foot {
    display: flex;
    justify-content: space-between;
    border-top: solid 3px;
}

.sec_foot section {
    font-size: 35px;
    text-align: center;
    height: 240px;
    width: 23%;
}

.form_admin {
    font-size: 30px;
    background-color: #cbf3f0;
    padding: 25px;
    height: 190px;
    width: 20%;
    border: 0px;
}

section .boton_reg {
    color: white;
    text-align: center;
    font-size: 30px;
    height: 80px;
    width: 170px;
    background-color: #006d77;
}

.sec_foot img {
    height: 110px;
    width: 110px;
}